<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ianellis.github.clean.apppresentation"
    >

    <application>
        <activity android:name=".catfacts.summaries.CatFactSummariesActivity" />
    </application>

</manifest>